/* #0F1926 */

*{background-color: #0F1926;}

*{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

body {
    margin: 0;
}

.logo {
    color: white;
}

.ex-space {
    background-color: #f0f2a7;
    color: black;
    font-size: 1em;
    padding: 8px 30px;
    border-radius: 15px;
}

.events {
    background-color: #f0f2a7;
    color: black;
    font-size: 1em;
    padding: 8px 30px;
    border-radius: 15px;
}

.visit {
    background-color: #f0f2a7;
    color: black;
    font-size: 1em;
    padding: 8px 30px;
    border-radius: 15px;
}

.involved {
    background-color: #f0f2a7;
    color: black;
    font-size: 1em;
    padding: 8px 30px;
    border-radius: 15px;
}

.explore {
    background-color: #f0f2a7;
    color: black;
    font-size: 1em;
    padding: 8px 30px;
    border-radius: 15px;
}

.info {
    color: white;
}

.info-involved {
    color: white;
}

.info-spaces {
    color: white;
}
 
.info-explore {
    color: white;
}

.info-events {
    color: white;
}

.info-visit {
    color: white;
}

.img-home-toa {
    max-width: 531px;
    max-height: 796px;
    border-radius: 25px;
}

.img-home-celso {
    max-width: 900px;
    max-height: 629px;
    border-radius: 25px;
}